In [1]:
import pandas as pd
import numpy as np

In [4]:
# Question 1: Version of Pandas

pd.__version__

'1.5.3'

In [3]:
# Reading data
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv")

In [6]:
# Question 2: Number of columns in the dataset

df.shape[1]

10

In [8]:
# Question 3: Select columns with missing data

df.isna().sum(axis=0)

# Result total_bedrooms column have 207 missing values

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [9]:
# Question 4: Number of unique values in the 'ocean_proximity' column

df.ocean_proximity.nunique()

5

In [12]:
# Question 5: Average value of the 'median_house_value' for the houses near the bay
df.groupby('ocean_proximity')['median_house_value'].mean()['NEAR BAY']

259212.31179039303

In [13]:
# Question 6: Has the mean value changed after filling missing values?

Question 6
* Calculate the average of total_bedrooms column in the dataset.
* Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
* Now, calculate the average of total_bedrooms again.

Has it changed?

In [16]:
mean_total_bedrooms = df.total_bedrooms.mean()

In [17]:
df.total_bedrooms.fillna(mean_total_bedrooms, inplace=True)
df.total_bedrooms.mean() , mean_total_bedrooms

# No change

(537.8705525375617, 537.8705525375618)

**Question 7**

  * Select all the options located on islands.
  * Select only columns housing_median_age, total_rooms, total_bedrooms.
  * Get the underlying NumPy array. Let's call it X.
  * Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
  * Compute the inverse of XTX.
  * Create an array y with values [950, 1300, 800, 1000, 1300].
  * Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the last element of w?

In [25]:
# Selecting Island data and taking column -
X = df[df.ocean_proximity=='ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']].values

In [27]:
# Compute matrix-matrix multiplication between the transpose of X and X.
XTX = X.T.dot(X)

In [28]:
# Inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# y Array
y = np.array([950, 1300, 800, 1000, 1300])

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y.

w = XTX_inv.dot(X.T).dot(y)

In [29]:
w[-1]

5.699229455065586

* Homework Link : https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/cohorts/2023/01-intro/homework.md

# Thank You